.paginationWrapper{
    width: max-content;
    padding: 5px;
    
}
.items{
    color: #cccccc;
    padding: 2px 2px;
    cursor: pointer;
    font-weight: 500;
    // font-size: 12px;
    margin-left: 3px;
    margin-right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    .chevron{
        font-weight: 1000;
        // font-size: 19px;
    }
    &:last-child,
    &:first-child{
        border: none;
    }
    &:hover{
        color: #f48225;
        border-bottom: 1px solid #f48225;
        &:nth-last-child(1) {
            border: none;
        }
        &:first-child{
            border: none;
        }
    }
    
    
}

.active{
    color: #f48225;
    border-bottom: 1px solid #f48225;
}