.wrapper {
    // background-color: #f4f5f6;
    margin-top: 100px;
}

.menuMain {
    padding-top: 20px;
    padding-bottom: 20px;
}

.menuItems {
    width: auto;
    color: #656969;
    font-size: 14px;
    list-style-type: none;
    overflow-x: auto;
    white-space: nowrap;

    li {
        display: inline-block;
        margin-right: 22px;
        cursor: pointer;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 7px;
        padding-bottom: 7px;

        &:hover {
            background-color: rgba(244, 245, 246, 0.7);
            // color: #fff;
            border-radius: 20px;
        }

        &.active {
            background-color: #003149;
            color: #fff;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 7px;
            padding-bottom: 7px;
            border-radius: 20px;

            &:hover {
                background-color: #003149;
            }
        }
    }

    a {
        color: #656969 !important;
    }
}

.rightMenuPoints {
    font-size: 14px;
}

.viewPublicProfile {
    position: absolute;
    font-size: 9px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f4f5f6;
    right: 10px;
    cursor: pointer;
    margin-top: -115px;
    &:hover{
        background-color: rgba(244, 245, 246, 0.5);
    }
}
.profileNav{
    // position: absolute;
    width: 100%;
}

@media (min-width: 768px) {
    .menuMain {
        box-shadow: 0px 1px 1px #dcdedd;
    }

    .wrapper {
        // background-color: #f4f5f6;
        margin-top: 140px;
    }

    .viewPublicProfile {
        margin-top: -60px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 10px;
        z-index: 1;
    }
}

@media (min-width: 991px) {
    .wrapper {
        // background-color: #f4f5f6;
        // margin-top: 0px;
        position: relative;
        margin-top: 252px; // 322px;
        // z-index: 1;
    }
    .profileNav{
        // position: absolute;
    }
    // .viewPublicProfile {
    //      margin-top: -10px;
    //      padding-left: 5px;
    //      padding-right: 5px;
    //      font-size: 11px;
    //      right: 10px
    // }

}

// @media (min-width: 1600px) {
//     .viewPublicProfile {
//         margin-top: 0px;
//     }
// }