@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import './variables.scss';

body {
    font-family: 'Barlow', sans-serif !important;
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
}

// L0G0
.logoDiv {
    margin-top: 2rem;

    .logoImg {
        min-width: 70% !important;
        right: auto !important;
        cursor: pointer;
    }

}


// FONT SIZES
.font-large {
    font-size: $font-size-lg;
}

.font-small {
    font-size: $font-size-small;
}

// DEFAULT FONT COLOR
.default-primary-font-color2 {
    color: $primaryText2;
}

.default-font-color {
    color: $text-grey;
}

.default-font-color2 {
    color: $text-grey2;
}

.default-font-color3 {
    color: $text-grey3;
}

.defaul-font-color4 {
    color: $text-grey4;
}

.dark-font-color {
    color: #000;
}

.text-danger {
    color: $secondary !important;
}

// LINK COLOR
.link-danger {
    color: $link-danger;

    a {
        text-decoration: none;
        color: $link-danger;

        &:hover {
            text-decoration: underline;
            color: $link-danger;
        }
    }
}

// BG COLOR

.bg-red {
    background-color: $secondary;
}

.bg-orange {
    background-color: $orange;
}

input {
    filter: none;
}

// LOGIN & SIGNUP FORM
.__form {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0px !important;
    padding-left: 0px !important;

    &:focus {
        outline: none !important;
        box-shadow: none !important;
        border-bottom-color: $text-grey !important;
        padding-left: 0px !important;
    }
}

.btn:focus,
.btn:active {
    box-shadow: none !important;
    outline: 0px !important;
}

.btn-outline-primary {
    // border-style: solid;
    // border-width: 0.8px;
    border-color: $primary !important;
    color: $primary !important;
    border-radius: 7px !important;
    padding: 5px 30px !important;

    &:hover {
        color: #fff !important;
        background: $primary !important;
    }
}

.btn-outline-white {
    border-style: solid;
    border-width: 1px;
    border-color: #fff !important;
    color: #fff !important;
    border-radius: 7px !important;
    padding: 3px 10px;
    font-weight: 500 !important;
    min-width: 144px;
    min-height: 40px;

    &:hover {
        color: $secondary !important;
        background: #fff !important;
    }
}

.btn-white {
    border-style: solid;
    border-width: 1px;
    border-color: #fff !important;
    color: $secondary !important;
    border-radius: 7px !important;
    padding: 3px 10px;
    font-weight: 500 !important;
    min-width: 144px;
    min-height: 40px;
    background: #fff !important;

    &:hover {
        color: #fff !important;
        background: $secondary !important;
    }
}

.btn-red {
    border-style: solid;
    border-width: 1px;
    border-color: $secondary !important;
    color: #fff !important;
    border-radius: 7px !important;
    padding: 3px 10px;
    font-weight: 500 !important;
    min-width: 144px;
    min-height: 40px;
    background: $secondary !important;

    &:hover {
        color: #fff !important;
        background: $secondary !important;
    }
}

.btn-primary {
    border-color: $primary !important;
    color: #fff !important;
    background-color: $primary !important;
    padding: 6px 15px !important;
    border-radius: 7px !important;
    border-style: solid !important;
    border-width: 1px;
    font-weight: 500 !important;

    &:hover {
        background-color: #03263b !important;
        border-color: #03263b !important;
    }
}

.btn-secondary-outline {
    border-color: $secondary !important;
    color: $secondary !important;
    background-color: #fff !important;
    padding: 6px 15px !important;
    border-radius: 7px !important;
    border-style: solid !important;
    border-width: 1px;
    font-weight: 500 !important;

    &:hover {
        background-color: $secondary !important;
        border-color: $secondary !important;
        color: #fff !important;
    }
}

// LOGIN PAGE OVERLAY TEXT
.overlay-text {
    position: absolute;
    width: 60%;
    height: 35%;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    font-size: 45px;
    color: #fff;
    margin-left: 10%;
    font-weight: 800;

    .author {
        font-size: calc(45px/2);
        margin-top: 2px;
    }
}

.hiddenBody {
    overflow: hidden;
}

// nav.sticky {
//     position: fixed;
//     background-color: #fff;
//     padding: 0.5rem;
//     z-index: 3;
//     animation: slideIn .42s cubic-bezier(.165, .84, .44, 1);
// }

@keyframes slideIn {
    0% {
        transform: translate3d(0, -80px, 0);
    }

    100% {
        transform: translateZ(0);
    }
}

// .owl-nav.disabled{
//     display: block !important;
// }
.owl-carousel {
    padding-left: 10px;
    padding-right: 10px;

}

.owl-carousel .owl-stage-outer {
    z-index: 1;
}

.owlLeftNav {
    width: 64px;
    height: 64px;
    background: url('../../public/assets/img/icons/owl-left.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.owlRightNav {
    width: 64px;
    height: 64px;
    background: url('../../public/assets/img/icons/owl-right.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.owl-prev,
.owl-next {
    padding: 0px !important;

    &:hover {
        padding: 0px !important;
        width: max-content !important;
        background-color: transparent !important;
    }
}

.MuiInput-underline::before {
    border: none !important;
}

.MuiInput-underline::before,
.MuiInput-underline::after {
    border: none !important;
}

.MuiIconButton-root {
    display: none !important;
}

.MuiChip-root {
    background-color: #f4f5f6 !important;
}
table {
    border-collapse: collapse;
    .table-row,
    .table-row-archived {
        border-bottom: 1px solid #ebebeb;
    }

    .table-row th, td{
        padding: 10px 23px;
    }
    .table-row th:nth-child(2),
    th:nth-child(3),
    td:nth-child(2),
    td:nth-child(3) {
        text-align: center;
    }
    .table-row th:last-child,
    td:last-child {
        padding-left: 0px;
    }
    .table-row th:nth-last-child(2),
    td:nth-last-child(2) {
        padding-right: 0px;
    }

    .table-row-archived th, td{
        padding: 10px 23px;
    }

}

@media (min-width: 768px) {
    .owl-carousel {
        padding-left: 80px;
        padding-right: 80px;
    }

    .owl-theme .owl-nav {
        display: flex !important;
        justify-content: space-between;
    }

    .owl-nav {
        position: absolute;
        width: 100%;
        left: 0px;
        top: -20px;
        z-index: 0;
    }

}

@media (min-width: 991px) {
    .profileHeaderWrapper{
        z-index: 1;
        // position: relative;
        // overflow: hidden;
    }
    // nav.sticky{
    //     position: fixed;
    //     width: 100%;
    //     // animation: slideIn .42s cubic-bezier(.165, .84, .44, 1);
    //     z-index: 2;

   .bannerWrapper.sticky {
        position: fixed;
        top: 69px;
        // filter: brightness(100%) !important;
        z-index: 5;
        animation: slideIn .15s cubic-bezier(.165, .84, .44, 1);


        .profileBanner {
            height: 85px !important; // calc(252px / 3) !important;
            // z-index: 6;
        }

        .profileDynamicContent {
            position: relative;
            display: block;
            // z-index: 6;
            .profileAvatarDiv{
                margin-top: 10px;
                position: fixed;
                z-index: 1;
            }
            .fSizeBannerName{
                // position: static;
                color: #fff;
                // z-index: 7;
                margin-left: 150px;
                width: max-content;
                margin-top: 30px !important;
            }
            .skillz {
                display: none !important;
            }
        }

    }
// }

.bannerWrapper.sticky + .profileNav {
    position: fixed;
    margin-top: 80px; // 154px; //80px;
    background-color: #fff;
    width: 100%;
    z-index: 4;

    .profileNavMenu {
        padding-left: 150px;
        z-index: 6;
    }

    &+.profileSideMenu {

        // top: 50px;
        .profileSideMenuItems {
            position: sticky;
            top: 270px;
        }
    }
    .viewPublicProfile{
        margin-top: -10px;
        // position: absolute;
    }

    // nav {
    //     width: 100%;
    // }

}
}